body {
    background: black;
}
#swingset {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    text-align: center;
}
#chain {
    text-align: center;
    position: relative;
    left: 5px;
    margin: 0 auto;
    width: 20px;
    display: block;
    transform-origin: center top;
    -webkit-transform-origin: center top;
}
.LED {
    text-align: center;
    border-radius: 2px;
    border-color: rgb(50,50,50);
    border-width: 0;
    border-style: solid;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.5);
    background-color: black;
    background-color: transparent;
    height: 3px;
    width: 12px;
    margin: 1px;
    position: relative;
}
/*
.LED-1 {
    height:3px;
    margin:5px 0;
}
*/
.pole {
    display: inline-block;
    text-align: center;
    width: 10px;
    position: absolute;
    top: 0px;
    transform-origin: center top;
    -webkit-transform-origin: center top;
    background-color: rgb(55,55,55);
}
#pole-0 {
    -webkit-transform: rotate(30deg);
    -transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -sand-transform: rotate(30deg);
}
#pole-1 {
    -webkit-transform: rotate(-30deg);
    -transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -sand-transform: rotate(-30deg);
}
.seat {
    width: 45px;
    height: 15px;
    background: gray;
    display: inline-block;
    position: relative;
    left: -12px;
    text-align: center;
}
.on {
    opacity: 1;
}
.off {
    opacity: 0;
}